<div id="<%= dom_id spot %>">
  <div class="contents">
    <div class="spot-category <%=
      case spot.category.name
      when '農園' then 'background-category1'
      when '産直店' then 'background-category2'
      when '園芸店' then 'background-category3'
      when 'レストラン' then 'background-category4'
      when 'アウトドア' then 'background-category5'
      else ''
      end
    %>">

      <%= spot.category.name %>
    </div>
    <div class="spots-name">
      <%= link_to spot.name, spot_path(spot) %>
    </div>
    <div>
      <%= link_to spot do %>
        <%= image_tag spot.photo, width: 300, class:"spot-image" if spot.photo.present? %>
      <% end %>
    </div>
  </div>
</div>
