<div id="<%= dom_id spot %>" class="spot-card">
  <!-- カード上部（カテゴリー帯＋タイトル） -->
  <div class="spot-card-header">
    <div class="spot-category <%= 
      case spot.category.name
      when '農園' then 'background-category1'
      when '産直店' then 'background-category2'
      when '園芸店' then 'background-category3'
      when 'レストラン' then 'background-category4'
      when 'アウトドア' then 'background-category5'
      else ''
      end
    %>">
      <%= spot.category.name %>
    </div>

    <div class="spots-name">
      <%= link_to spot.name, spot_path(spot) %>
    </div>
  </div>

  <!-- カード本文（画像など） -->
  <div class="spot-card-body">
    <% if spot.photo.present? %>
      <div class="spot-thumbnail">
        <%= link_to spot do %>
          <%= image_tag spot.photo, class: "spot-image" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
