<div id="<%= dom_id spot %>">
  <div class="contents">
    <div class="spot-category <%= 'background-category1' if spot.category.name == '農園' %> <%= 'background-category2' if spot.category.name == '産直店' %> <%= 'background-category3' if spot.category.name == '園芸店'  %> <%= 'background-category4' if spot.category.name == 'レストラン' %>">
      <%= spot.category.name %>
    </div>
    <div class="spots-name">
      <%= link_to spot.name, spot_path(spot) %>
    </div>
    <div>
      <%= image_tag(url_for(spot.photo), width: '100%') if spot.photo.present? %>
    </div>
  </div>
</div>
