<p style="color: green"><%= notice %></p>
<%= render "shared/header" %>

<div class="geolonia" data-geojson="/spots.json" style="height:500px;" data-geolocate-control="on"></div>

<div id="spots">
  <% @spots.each do |spot| %>
    <%= render spot %>
    <p>
      <%= link_to "Show this spot", spot %>
    </p>
  <% end %>
</div>

<%= link_to "New spot", new_spot_path, data: {turbo: false} %>


<script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=<%= ENV['MAP_API_KEY'] %>"></script>
