<div class="container">
  <%#= render "shared/header" %>
  <div class="geolonia" data-geojson="/spots.json" style="height:400px;" data-geolocate-control="on"></div>
</div>

<%= search_form_for @q, url: search_spots_path, html: {id: "detailed-search-form"},method: :get do |f| %>
  <div class="search-field">
    <%= f.label :name_cont, 'キーワード?' %>
    <br>
    <%= f.text_field :name_cont, placeholder: 'キーワードで探す', class: "search-field-input" %>
  </div>

  <div class="search-field">
    <%= f.label :name_cont, 'カテゴリ?' %>
    <br>
    <%= select_tag "q[category_id_eq]",options_for_select(Category.all.map { |c| [c.name, c.id] }, params[:q]&.[](:category_id_eq)), include_blank: "--カテゴリ--", class: "search-field-select" %>
  </div>

  <div class="search-btn-field">
    <%= f.submit "検索", class: "search-btn", id: "search-button" %>
  </div>

  <div class="search-btn-field">
    <%= link_to "クリア", spots_path, class: "search-btn" %>
  </div>
<% end %>


<div class="container"> 
  <div id="spots">
    <% @spots.in_groups_of(3, false) do |spot_group| %>
      <div class="row">
        <% spot_group.each do |spot| %> 
          <div class="col-md-4">
            <%= render spot %>
          </div>
        <% end %>
      </div>
    <% end %>    
  </div>
</div>

<%= link_to(new_spot_path,class: "purchase-btn") do %>
  <span class="purchase-btn-text">登録する</span>
  <%= image_tag "icon_new.png", size: "185x50", class: "purchase-btn-icon" %>
<% end %>

<script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=<%= ENV['MAP_API_KEY'] %>"></script>

