<%= render "shared/header" %>
<div class="container">
  <h2 class="H2">新規スポット登録</h2>
  <p class="required"><span><%= image_tag("tomato.png", class:"tomato-icon") %></span>は必須項目です</p>

  <%= render "form", spot: @spot %>

  <br>

    <%= link_to(root_path,class: "purchase-btn") do %>
      <span class="purchase-btn-text">HOMEへ</span>
      <%= image_tag "home.png", size: "185x50", class: "purchase-btn-icon" %>
    <% end %>

  <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=<%= ENV['MAP_API_KEY'] %>"></script>
</div>