<%= render "shared/header" %>
<div class="container">

  <h2 class="H2">登録内容の詳細</h2>

  <%= form_with(model: @spot, local: true) do |form| %>
    <div class="spot-category <%= 'background-category1' if @spot.category.name == '農園' %> <%= 'background-category2' if @spot.category.name == '産直店' %> <%= 'background-category3' if @spot.category.name == '園芸店'  %> <%= 'background-category4' if @spot.category.name == 'レストラン' %>">
      <%= @spot.category.name %>
    </div>
    <div class="spot-name"><%= @spot.name %></div>
    <div class="spot-image"><%= image_tag(@spot.photo, width: '100%') %></div>
    <div class="spot-textarea"><%= simple_format @spot.value,width: '100%' %></div>
    <div class="spot-url"><%= link_to @spot.spots_url, @spot.spots_url %></div>
    <div class="">投稿者: <%= link_to(@spot.user.nickname,"/users/#{@spot.user.id}") %></div>
  <% end %>

  <div class="geolonia"
    data-lat=<%= @spot.lat %>
    data-lng=<%= @spot.lng %>
    data-zoom=16
    style="height:300px;"><%= marker_content(@spot) %></div>

  <div class="btn-toolbar">
    <%if user_signed_in? && current_user.id == @spot.user_id %>
      <%= link_to "編集", edit_spot_path(@spot), data: {turbo: false}, class: "btn btn-primary" %>
      <%= button_to "投稿削除", @spot, method: :delete, class: "btn btn-danger ms-3" %>
    <% end %>
  </div>


  <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=<%= ENV['MAP_API_KEY'] %>"></script>
</div>

  <%= link_to(root_path,class: "purchase-btn") do %>
    <span class="purchase-btn-text">HOMEへ</span>
    <%= image_tag "home.png", size: "185x50", class: "purchase-btn-icon" %>
  <% end %>