<div class="container">
  <p style="color: green"><%= notice %></p>

  <h2>登録内容の詳細 -show spot-</h2>

  <%= form_with(model: @spot, local: true) do |form| %>
    <div><%= @spot.name %></div>
    <div><%= image_tag(@spot.photo, width: '100%') %></div>
    <div><%= @spot.value %></div>
    <div><%= @spot.spots_url %></div>
  <% end %>

  <div class="geolonia"
    data-lat=<%= @spot.lat %>
    data-lng=<%= @spot.lng %>
    data-zoom=16
    style="height:300px;"><%= marker_content(@spot) %></div>

  <div>
    <%= link_to "Edit", edit_spot_path(@spot), data: {turbo: false} %> |
    <%= link_to "Home", spots_path %>

    <%= button_to "Destroy this spot", @spot, method: :delete %>
  </div>

  <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=<%= ENV['MAP_API_KEY'] %>"></script>
</div>