<div class="container">

  <h2>登録内容の詳細 -show spot-</h2>

  <%= form_with(model: @spot, local: true) do |form| %>
    <div class="spot-name"><%= @spot.name %></div>
    <div class="spot-image"><%= image_tag(@spot.photo, width: '300') %></div>
    <div class="spot-textarea"><%= simple_format @spot.value %></div>
    <div class="spoy-url"><%= link_to @spot.spots_url, @spot.spots_url %></div>
  <% end %>

  <div class="geolonia"
    data-lat=<%= @spot.lat %>
    data-lng=<%= @spot.lng %>
    data-zoom=16
    style="height:300px;"><%= marker_content(@spot) %></div>

  <div class="btn-toolbar">
    <%= link_to "Edit", edit_spot_path(@spot), data: {turbo: false}, class: "btn btn-primary" %>
    <%= button_to "Destroy this spot", @spot, method: :delete, class: "btn btn-danger ms-3" %>
  </div>

  <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=<%= ENV['MAP_API_KEY'] %>"></script>
</div>

  <%= link_to(root_path,class: "purchase-btn") do %>
    <span class="purchase-btn-text">HOMEへ</span>
    <%= image_tag "home.png", size: "185x50", class: "purchase-btn-icon" %>
  <% end %>