<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag 'habit_logo.png', alt: 'Logo', width: '70', height: '70', class: 'd-inline-block align-text-top' %>
    <% end %>
    <%= image_tag("habit_text.png", class:"habit-text") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/use">アプリの使い方</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/policy">プライバシーポリシー</a>
        </li>
        <% unless request.path == "/users/sign_in" || request.path == "/users/sign_up" %>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "My投稿", "/users/#{current_user.id}", class:"nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-white" %>
            </li>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>