<div class="navbar ">          <%# 必要なければ消す navbar-fixed-top navbar-expand-lg navbar-dark bg-5b9c40 %>
  <div class="contatner-fluid">
    <%= link_to image_tag("habit_logo.png", class:'nojosan-icon'), "/" %>
    <div class="app_name">
      <p class="text_nojomapp">nojoマップ ～貸し農園・体験農園共有～</p>
        <% unless request.path == "/users/sign_in" || request.path == "/users/sign_up" %>
          <% if user_signed_in? %>
            <div class="user_nav">
              <%= link_to "My投稿", "/users/#{current_user.id}", class:"post" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %>
            </div>
          <% else %>
            <div class="list">
              <%= link_to "ログイン", new_user_session_path, class: "post" %>
              <%= link_to "新規登録", new_user_registration_path, class: "post" %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>